<footer class="footer" data-background-color="black">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    @Html.ActionLink("صفحه اصلی", "index", "Home")
                  
                </li>
                <li>
                    @Html.ActionLink("درباره ما", "index", "Home")

                </li>
                <li>
                  
                    @Html.ActionLink("تماس با ما", "index", "Home")

                </li>
              
            </ul>
        </nav>
        <div class="copyright float-right small">
            &copy;
            <script>
                    document.write(new Date().getFullYear())
            </script>&nbsp; Develop  by
            <a href="https://www.linkedin.com/in/arman-abi-77021967/" target="_blank">ArmanAB</a> 
        </div>
    </div>
</footer>