@{
    ViewData["Title"] = "درباره ما";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";

}

<div class="page-header header-filter" data-parallax="true" style="background-image: url('/Content/AboutUs/ABOUT-US.jpg');"></div>
<div class="main main-raised">
    <div class="profile-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile">
                        <div class="avatar">
                            <img src="~/Content/AboutUs/sample.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
                        </div>
                        <div class="name">
                            <h3 class="title">درباره ما</h3>
                            <h6>ارتباط با ما در شبکه های اجتماعی</h6>
                            <a href="https://www.linkedin.com/in/arman-abi-77021967/" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-linkedin"></i></a>
                            <a href="https://t.me/Armanabi" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-telegram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description text-center">
                <p>


                </p>
            </div>

            <div class="description text-center">
                <p>


                </p>
            </div>


            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="profile-tabs">
                        <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                                    <i class="material-icons">camera</i> Studio
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                                    <i class="material-icons">palette</i> Work
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                                    <i class="material-icons">favorite</i> Favorite
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="tab-content tab-space">
                <div class="tab-pane active text-center gallery" id="studio">
                    <div class="row">
                        <div class="col-md-3 ml-auto">
                            <img src="~/assets/Material-Kit/img/examples/studio-1.jpg" class="rounded">
                            <img src="~/assets/Material-Kit/img/examples/studio-2.jpg" class="rounded">
                        </div>
                        <div class="col-md-3 mr-auto">
                            <img src="~/assets/Material-Kit/img/examples/studio-5.jpg" class="rounded">
                            <img src="~/assets/Material-Kit/img/examples/studio-4.jpg" class="rounded">
                        </div>
                    </div>
                </div>
                <div class="tab-pane text-center gallery" id="works">
                    <div class="row">
                        <div class="col-md-3 ml-auto">
                            <img src="~/assets/Material-Kit/img/examples/olu-eletu.jpg" class="rounded">
                            <img src="~/assets/Material-Kit/img/examples/clem-onojeghuo.jpg" class="rounded">
                            <img src="~/assets/Material-Kit/img/examples/cynthia-del-rio.jpg" class="rounded">
                        </div>
                        <div class="col-md-3 mr-auto">
                            <img src="~/assets/Material-Kit/img/examples/mariya-georgieva.jpg" class="rounded">
                            <img src="~/assets/Material-Kit/img/examples/clem-onojegaw.jpg" class="rounded">
                        </div>
                    </div>
                </div>
                <div class="tab-pane text-center gallery" id="favorite">
                    <div class="row">
                        <div class="col-md-3 ml-auto">
                            <img src="~/assets/Material-Kit/img/examples/mariya-georgieva.jpg" class="rounded">
                            <img src="~/assets/Material-Kit/img/examples/studio-3.jpg" class="rounded">
                        </div>
                        <div class="col-md-3 mr-auto">
                            <img src="~/assets/Material-Kit/img/examples/clem-onojeghuo.jpg" class="rounded">
                            <img src="~/assets/Material-Kit/img/examples/olu-eletu.jpg" class="rounded">
                            <img src="~/assets/Material-Kit/img/examples/studio-1.jpg" class="rounded">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
