@{
    ViewData["Title"] = "Home Page";
   
        Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url('assets/Material-Kit/img/bg2.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <div class="brand">
                    <h1>نرم افزار رزرواسیون آنلاین بلیط،هتل و تور .</h1>
                    <h3>ارائه دهنده وب سرویس نمایش و فروش پرواز و هتل</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main main-raised">
    <div class="section section-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            
            </div>
        </div>
    </div>
</div>
